

.bt-name{
    display: flex;
    flex-direction: row;
    width: 400px;
    height: 150px;
 justify-content: space-around;
}
.op-name{
    display: flex;
    flex-direction: row;
    width: 500px;
    height: 150px;
 justify-content: space-around;
}